.song-item{
  /* border: 1px solid black; */
  padding: 4px;
  font-size: 14px;
  list-style-type: none;
  text-align: left;
  color: #211D30;
}

/* .song-content{
  float: right;
}

.song-image{
  float:left;
} */
